<div class="banner" style="background-image: linear-gradient(rgba(40,40,40,0.8), rgba(40,40,40,0.8)), url('<%= image_path 'cocktails.jpg' %>');">
  <div class="banner-container">
    <h1>mister cocktail</h1>
    <p>find and share your favorite cocktail</p>

    <%= render "search_bar_home" %>
    <%= link_to "Add your own cocktail", new_cocktail_path, class: "btn btn-primary btn-lg", id: "btn-add" %>
  </div>
</div>
