// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cocktail-index {
  margin-top: 5rem;
  align-items: flex-end;
}

.search {
  margin-left: 2rem;
}

.grid-cocktails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px 16px;
  margin: 24px 0px;
}
