.banner {
  color: white;
  text-align: center;
  background-size: cover !important;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
  padding: 15rem 0;
}
